<section id="second" class="main special">
    <ul class="statistics">
     
        <li class="style2">
            <a href="new-evento" class="active">
            <span class="icon fa-folder-open"></span>
            <strong>Novo Evento</strong></a> 
        </li>
        <li class="style3">
            <a href="new-evento-escola" class="active">
            <span class="icon solid fa-signal"></span>
            <strong>Novo Evento Escolar</strong></a> 
        </li>
        <li class="style4">
            <a href="new-member" class="active">
            <span class="icon solid fa-laptop"></span>
            <strong>Novo Professor</strong></a> 
        </li>
    </ul>
</section>