<h3>Detalhe do Evento Escolar</h3>
Você esta editando: {{ selected_evento_escola.titulo }} 
<br><br>
<label>Id</label>
<input type="text" [(ngModel)]="selected_evento_escola.id" readonly> <br>
<label>Título</label>
<input type="text" [(ngModel)]="selected_evento_escola.titulo"> <br>
<label>Matéria</label>
<input type="text" [(ngModel)]="selected_evento_escola.materia"> <br>
<label>Tipo do Evento</label>
<input type="text" [(ngModel)]="selected_evento_escola.tipoEvento"> <br>
<label>Peso</label>
<input type="text" [(ngModel)]="selected_evento_escola.peso"> <br>
<label>Descrição</label>
<input type="text" [(ngModel)]="selected_evento_escola.descricao"> <br>
<label>Data do Evento</label>
<input type="text" [(ngModel)]="selected_evento_escola.data_evento"> <br>
<ul class="actions">
    <li><button (click)="update()" class="button primary">Update Evento </button></li>
    <li><button (click)="delete()" class="button primary">Delete Evento </button></li>
    <li><button (click)="newEventoEscolar()" class="button primary">Novo </button></li>
</ul>
